.main-content {
    background-color: $main-color;
    padding-top: 96px;
    padding-bottom: 273px;
}
.main__content_inner{
    display: flex;
    justify-content: space-between;
}
.main__decoration{
    position: relative;
    .decor1 {
        position: absolute;
        top: 0;
        left: -149px;
        z-index: 0;
    }

}
.main-content__column {
    margin: 0 auto;
    margin-bottom: 104px;
    max-width: 768px;
    text-align: center;
    z-index: 3;

    .main-content__title {
        font-family: 'Fraunces', serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
        color: $light-color;

        margin-bottom: 26px;
    }
    p {
        margin-bottom: 22px;
        font-size: 20px;
        font-weight: 400;
        color: $light-color;
    }
}
.main-content__links {
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 281px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content__link_btn {
    position: relative;
    padding: 14px 26px;
    font-size: 15px;
    color: $main-color;
    font-weight: 700;
    line-height: 1.6;
    background-color: $secondary-color;
    &:hover{
        background-color: #e9ffad;
    }
    &:active{
        top: 1px;
    }
}

.main-content__link_link {
    position: relative;
    padding-right: 24px;

    font-size: 15px;
    font-weight: 700;
    line-height: 1.07;
    color: $light-color;
    transition: color .2s ease-in;
    &:after{
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../src/main/arrow__link.svg);
        transition: right .2s ease-in;
    }
    &:hover {
        color: $secondary-color;
        &:after{
            right: 3px;
        }
    }
}
.second-decor {
    position: relative;
    .decor2 {
        position: absolute;
        bottom: 146px;
        right: -166px;
        z-index: 0;
    }
}

.main-content__row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    flex-wrap: wrap;
   
}
.third-decor {
    position: relative;
    .decor3 {
        position: absolute;
        bottom: -159px;
        left: -143px;
        z-index: 0;
    }
}
.main-content__bottom {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: -273px;
    z-index: 2;
    img {
        width: 100%;
    }
}
